@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

*,
*::before,
*::after,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf7ea;
    font-family: "Gaegu", cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
